@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lobster&family=Tiro+Devanagari+Marathi&family=Yeon+Sung&display=swap');


.card-1-sec{
  font-family: "kalam";
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  height:auto;
  width: 100vw;
}
.sec-1{
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  height:100%;
  font-size:2em;

}
.sec-1-head{
  /* background-color: bisque; */
  text-align: center;
  height: 50%;
  font-size:1.5rem;
}
.sec-1-header{
  font-size: 2.5rem;
}
.couple{
  display: flex;
  /* background-color: aqua; */
  justify-content: center;

}
.hsbnd{
  /* background-color: brown; */
  width: 50%;
  text-align: center;
  height: auto; /* Set your specific height */
  overflow: hidden; /* Hide any overflowing content */
  position: relative; 
  font-size: 1rem;

}
.couple-img{
  width: 100%; /* Take up 100% of the container's width */
  height: 100%; /* Take up 100% of the container's height */
  object-fit: cover; /* Maintain aspect ratio while covering the entire container */
  object-position: center; 
  max-width: 100%; /* Set the maximum width */
  max-height: 100%; /* Set the maximum height */
}
.wfi{
    /* background-color: yellowgreen; */
    width: 50%;
    text-align: center;
    height:auto; /* Set your specific height */
    overflow: hidden; /* Hide any overflowing content */
    position: relative; 
    font-size: 1rem;
}
.couple-img-sec{
  margin: 2.5rem;
  border: 5px solid white;
  border-radius: 30px;
  overflow: hidden;

}

.sec-2{
  background-image: url("./image/main-img.jpg");
  height:500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size:cover;

}
@media (max-width: 768px) {
  .couple-img-sec{
    margin: 0.5rem;
  
  }
  .sec-1-head{
    /* background-color: bisque; */
    font-size: 0.5rem;
  }
  .sec-1-header{
    font-size: 1rem;
  }
  .sec-1-para{
    font-size: 0.5rem;

  }
}