@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lobster&family=Yeon+Sung&display=swap');
/* 
*{
    font-family:'kalam', Geneva, Tahoma, sans-serif;
    
} */
.cmp1-main{
    background: linear-gradient(to right, #ffcc00, #ff6699);
    background-image: url(../image/md11.jpg);
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    backdrop-filter: blur(100px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    font-family: 'kalam';
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}
.cmp1-head-couple-name{
    color: red;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);

}
/* ------------------------------------------------------------------------ */

.cmp2-main{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to right, #ffcc00, #ff6699);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'kalam';
    color: white;
    /* text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5); */
}

.cmp2-inner-div{
    margin: 50px 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 25px;
    height:90%;
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.clr-gray{
    color: gray;
}
.left-husband{
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
}
.cmp2-middle-couple{
    height: auto;
    width: 30%;
    background-image: url(../image/md21.jpg);
    backdrop-filter: blur(20px);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);
    margin: 10px;
    border: 2px solid black;
    border-radius: 50px;
}
.right-wife{
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;

}
/* ------------------------------------------------------------------------------------ */

.cmp3-main{
    background-image: url(../image/md10.jpg);
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    backdrop-filter: blur(20px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'kalam';
    font-size: 10px;
    color: white;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* --------------------------------------------------------------------------------------------- */

.cmp4-main{
    height: 50vh;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-family: 'kalam';
}
.location-header{
    font-weight: 800;
}
.map{
    height: 70%;
    width: 100%;
}
.ifrm{
    height: 100%;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------- */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 6px;
    padding: 1px;
    box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);
    margin: 1px;
    overflow: hidden;
    background: linear-gradient(to right, #ffcc00, #ff6699);

  }
  
  .gallery-item {
    box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .gallery-item:hover {
    transform: scale(1.1);
  }
  
  


/* ---------------------------------------------------------------------------------------------- */

.footer-main{
    height: 20vh;
    font-size: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------------------------------------------- */
.counter{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 800;
    gap: 10px;
    background: linear-gradient(to right, #ffcc00, #ff6699);
    box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);
    border: 2px solid black;
    border-radius: 30px;
    margin: 0 3px 0 3px;
}
.counter-head{
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
}
.timer{
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: center;
    align-items: center;
}


.button-40 {
    padding: 1em 3em;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em 0.1em var(--glow-color),
      0 0 2em 0.5em var(--glow-spread-color),
      inset 0 0 0.4em 0.1em var(--glow-color);
    text-shadow: 0 0 0.3em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    border: 0;
  }
.button-40:hover {
    opacity: 0.9;
    }

/* ---------------------------------------------------------------------------------------------- */

.SuvarnaKshanCmp-main{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 font-family: "kalam";
 font-size: 20px;
 background: linear-gradient(to right, #ffcc00, #ff6699);
 padding: 30px 0 30px 0;
 
}
/* ---------------------------------------------------------------------------------------------- */
.SaptapadiCmp-header{
    color: yellow;
    text-shadow: 3px 3px 2px rgba(255, 177, 177, 0.5);
    border: 2px solid black;
    border-radius: 15px;
    padding:10px;
    width: 100%;

}
.SaptapadiCmp-head{
    color: red;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);

}
.SaptapadiCmp-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
    gap: 10px;
    background: linear-gradient(to right, #ffcc00, #ff6699);



}
/* ---------------------------------------------------------------------------------------------- */

.SheduleCmp-main{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 3px;
    border: 2px solid black;
    border-radius: 30px;
    background: linear-gradient(to right, #ffcc00, #ff6699);
    box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);
    text-align: center;
    padding: 15px;
}
/* ---------------------------------------------------------------------------------------------- */
.Music-main{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #ffcc00, #ff6699);
    padding: 20px;
}
.Music-audio{

}







/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 600px){
    .cmp1-main {
        font-size: 25px;

    }
    .cmp2-main{

    }
    .left-husband{
        font-size: 0.8em
    }
    .cmp2-middle-couple{
        height: 75%;
        width: 30%;
        margin: 10px;

    }
    .right-wife{
        font-size: 0.8em
    }
    .cmp3-main{
        /* height: 35vh; */
    }
    
  }
/* --------------------------------------------------------------------------------- */
  @media (min-width: 480px) and (max-width: 600px) {
    .cmp1-main {
        font-size: 15px;
        height: 90vh;

    }
    .cmp2-main{
        /* height: auto;
        
        flex-direction: column; */
    }
    .cmp2-inner-div{
        margin: 30px 30px;
        height: 60%;
    }
    .left-husband{
        font-size: 0.6em
    }
    .cmp2-middle-couple{
        height: 50%;
        width: 30%;
        margin: 10px;

    }
    .right-wife{
        font-size: 0.6em
    }
    .cmp3-main{
        font-size: 7px;
        height: 30vh;

    }
    .cmp4-main{
        height: 40vh;
        font-size: 20px;
    }
    .footer-main{
        height: 15vh;
        font-size: 5px;
        
    }
    .counter{
        gap: 10px;
        height: auto;
        margin: 0 15px 10px 15px;
    }
    .timer{
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    .SuvarnaKshanCmp-main{
        font-size: 15px;
        padding: 15px 0 15px 0;
       }
       .SaptapadiCmp-main{
        font-size: 15px;
    }

    .SheduleCmp-main{
        font-size: 15px;
    }
       
  }
/* ------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
    .cmp1-main {
        font-size: 15px;
        height: 80vh;

    }
    .cmp2-main{
        height: 60vh;
    }
    .cmp2-inner-div{
        margin: 20px 20px;
        font-size: 10px;
        height: 60%;
    }
    .left-husband{
        /* font-size:0.3em; */
    }
    .cmp2-middle-couple{
        height: 60%;
        width: 30%;
        margin: 10px;

    }
    .right-wife{
        /* font-size: 0.3em; */
    }
    .cmp3-main{
        font-size: 8px;
        height: 30vh;
    }
    .cmp4-main{
        height: 30vh;
        font-size: 15px;
    }
    .footer-main{
        height: 10vh;
        font-size: 0.7em;
    }
    .footer-main{
        font-size: 5px;
    }
    .counter{
        gap: 10px;
        height: auto;
        margin: 0 1px 1px 1px
    }
    .timer{
        flex-direction: column;
        padding: 10px 0 0 0;

    }
    .counter-head{
        margin: 10px 0 0 0;
    }
    .SuvarnaKshanCmp-main{
        font-size: 10px;
        padding: 10px 10px 10px 10px;
        text-align: center;

       }
       .SaptapadiCmp-main{
        font-size: 10px;
    }
    .SheduleCmp-main{
        margin: 0 1px 10px 1px;
        flex-direction: column;
        font-size: 15px;
    }
    .Music-main{
        padding: 10px;
    }
    .Music-audio{
       height: 35px;
       width: 250px;
    }

  }



  
































