/* Base Styles */
#Main_Div {
    /* min-height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  #First_Div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-family: "Poppins", system-ui;
    height: 30vh;
  }
  
  #First_Div h1 {
    color: #E8BA40;
    font-size: 0.8rem;
  }
  

  
  #Second_Div {
    border: 2px solid black;
    display: flex;
    flex-direction: column; /* Stack on smaller screens */
    /* height: auto;  */
    /* background-color: #E8BA40; */
    width: 100vw;
    height: 70vh;
    justify-content: center;
  }
  
  #Plan_Div {
     /* Blur filter */
    background: rgba(199, 57, 95,  0.404); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 


    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0.1rem;
    padding: 0.1rem;
    font-size: 0.3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.5); 

  }
  
  #Plan_heading {
    color:  #DED4E8;
  }
    .Plan_heading_h1{
        font-size: 0.3rem;
    }
  #Plan_description {
    margin: 0.1rem;
   }
  .Plan_point {
    margin: 0.1rem;
    font-size: 0.2rem;
    color:antiquewhite;
    }
  







  /* Media Queries for Responsive Design */
  
  /* For Tablets */
  @media (min-width: 600px) and (max-width: 1024px) {
    #Main_Div {
    }
    #Second_Div {
      height: auto;
      align-items: center;
    }
    #Plan_Div {

    }
  }
  
  /* For Desktops */
  @media (min-width: 1025px) {
    #Main_Div {

    }
  
    #Second_Div {
      height: auto;
      flex-direction: row; /* Side by side layout for larger screens */
    }
    #Plan_Div {
      width: 25vw; /* Keep plan width smaller on larger screens */
    }
  }
  /* For Mobile Devices */
  @media (max-width: 599px) {
    #Main_Div {
      font-size: 6vw; /* Larger font for smaller screens */
    }
  
    #First_Div {
      height: auto; 
    }
    #First_Div h1 {
        color: #E8BA40;
        font-size: 0.5rem;
      }
    #Second_Div {
      height: auto;
      flex-direction: column;
      align-items: center;

    }
    #Plan_Div {

    }
  }
  








