/* FooterComponent.css */
.footer-container {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /* Add media queries for responsiveness */
  @media (max-width: 768px) {
    .footer-section {
      flex: 1 0 100%; /* Full width on smaller screens */
      margin-bottom: 20px;
    }
  }
  